<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <link rel=stylesheet type="text/css" href="/stylesheets/reset.css">
	<style>
		html,
		body,
		div,
		span,
		applet,
		object,
		iframe,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		blockquote,
		pre,
		a,
		abbr,
		acronym,
		address,
		big,
		cite,
		code,
		del,
		dfn,
		em,
		img,
		ins,
		kbd,
		q,
		s,
		samp,
		small,
		strike,
		strong,
		sub,
		sup,
		tt,
		var,
		b,
		u,
		i,
		center,
		dl,
		dt,
		dd,
		ol,
		ul,
		li,
		fieldset,
		form,
		label,
		legend,
		table,
		caption,
		tbody,
		tfoot,
		thead,
		tr,
		th,
		td,
		article,
		aside,
		canvas,
		details,
		embed,
		figure,
		figcaption,
		footer,
		header,
		hgroup,
		menu,
		nav,
		output,
		ruby,
		section,
		summary,
		time,
		mark,
		audio,
		video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}

		article,
		aside,
		details,
		figcaption,
		figure,
		footer,
		header,
		hgroup,
		menu,
		nav,
		section {
			display: block;
		}

		body {
			line-height: 1;
		}

		ol,
		ul {
			list-style: none;
		}

		blockquote,
		q {
			quotes: none;
		}

		blockquote:before,
		blockquote:after,
		q:before,
		q:after {
			content: '';
			content: none;
		}

		table {
			border-collapse: collapse;
			border-spacing: 0;
		}


		header {
			display: flex;
			justify-content: space-between;
			background-color: #D3D3D3;
			height: 100px;
		}

		.logo {
			height: 20px;
			width: 100px;
			align-self: flex-end;
			/*margin-top: 10px;*/
		}

		.logo img {
			height: 150px;
			width: 400px;
			margin-top: -95px;
		}

		nav {
			display: flex;
		}

		.item {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 70px;
		}

		.item img {
			width: 40px;
			height: 40px;
			margin-right: 10px;
			margin-top: -15px;
		}

		.item_icon {
			position: relative;
			display: inline-block;
			width: 90px;
			height: 25px;
			color: rgb(0, 0, 0);
		}

		.item_icon a {
			position: absolute;
			display: block;
			width: 90px;
			height: 25px;
			line-height: 25px;
			text-indent: 10px;
		}

		.item_icon select {
			position: absolute;
			top: 0;
			left: 0;
			width: 90px;
			height: 25px;
			opacity: 0;
		}

		.item_icon select option {
			text-indent: 10px;
		}

		.item_icon select option:hover {
			background-color: rgba(102, 96, 88, 0.37);
			color: #fff;
		}

		.web_title {
			height: 20px;
			width: 100px;
			align-self: flex-end;
			/*margin-top: 10px;*/
		}

		.web_title img {
			height: 150px;
			margin-top: -95px;
		}

		.group_number {
			margin: 50px;
		}

		.content {
			width: 100%;
			height: 800px;
		}

		table {
			margin: 50px auto;
			width: 50%;
			height: 800px;
			padding:50px;
			text-align: left;
		}

		td {
			vertical-align: top;
			margin: 50px;
			padding: 25px;
		}

		.button {
			width: 40%;
			display: flex;
			margin: 50px auto;
			justify-content: space-around;
		}
	</style>
	<title></title>
</head>

<body>
	<header>
		<div class="logo"> <a href="home.html"><img src="title.png"></a> </div>
		<nav>
			<div class="item">
				<div class="item_icon">
					<a href="javascript:login()">
						<img src="login.png">
					</a>
					<select onchange="window.open(this.options[this.selectedIndex].value)">
						<option value="edit_group_info.html">組別資訊</option>
						<option value="notice.html">通知</option>
						<option value="exhi_info.html">展覽資訊</option>
						<option value="statistic.html">統計分析</option>
						<option value="account_manage.html">帳號管理</option>
						<option value="home.html">登出</option>
					</select>

					<!--老師<select>
                            <option value="user_information.html">個人資訊</option>
                            <option value="grade.html">指導組別</option>
                            <option value="group_edit.html">組別資訊</option>
                            <option value="like.html">收藏</option>
                            <option value="note.html">記事本</option>
                            <option value="board.html">佈告欄</option>
                            <option value="calendar.html">行事曆</option>
                            <option>登出</option>
                        </select>-->
					<!--組長組員<select>
                            <option value="user_information.html">個人資訊</option>
                            <option value="group_edit.html">組別資訊</option>
                            <option value="like.html">收藏</option>
                            <option value="note.html">記事本</option>
                            <option value="board.html">佈告欄</option>
                            <option value="calendar.html">行事曆</option>
                            <option>登出</option>
                        </select>-->
				</div>
			</div>
		</nav>
	</header>
	<div class="content">
		<table>
			<tr>
				<td>通知對象帳號:</td>
				<td><input type="text" name="notice_member" /></td>
			</tr>
			<tr>
				<td>通知內容:</td>
				<td>
					<textarea rows="4" name="notice_content" cols="20"></textarea>
				</td>
			</tr>

		</table>
		<div class="button">

			<button type="button" onclick="sendNotice()">確定更改</button>
			<button type="button" onclick="back()">取消</button>
		</div>

	</div>
	<footer>

	</footer>
	<script>
		function sendNotice() {
			// Default options are marked with *
			return fetch('/ics/notification/sendNotification', {
					method: 'POST', // *GET, POST, PUT, DELETE, etc.
					body: JSON.stringify({
						"targetUserId": document.querySelector(".content input").value,
						"content": document.querySelector(".content textarea").value
					}),
					headers: {
						'user-agent': 'Mozilla/4.0 MDN Example',
						'content-type': 'application/json'
					},
				})
				.then(response => {
					console.log(response)
					if (response.ok) {
						alert("傳送成功")
					} else {
						alert("傳送失敗")
					}
				}) // 輸出成 json
		}
		function back(){
			window.history.back();
		}
	</script>
</body>

</html>